.item{
    border: solid 1px ;
border-radius: 40px;
display: inline-block;
cursor: pointer;
border-color: rgb(177, 173, 173);

}

.item-zerro{
border: solid 1px ;
border-radius: 40px;
display: inline-block;
padding-left: 20px;
padding-right: 20px;
border-color: rgb(177, 173, 173);
}

.input{
    border: solid 1px ;
border-radius: 40px;
border-color: rgb(177, 173, 173);
 
}

body{
   
   
}
