body{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.themeBtn{
    border: solid 1px;
    border-color: rgb(170, 170, 170);
    border-radius: 30px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgb(12, 16, 78);
color: lightgray;
font-size: large;
cursor: pointer;
margin-left: 570px;
margin-top: 200px;
}

.themeBtn:hover{
    background-color: rgb(35, 38, 75);
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.themeBtn:active{
  opacity: 0.9;  
  transition: 0.2s;
}

.dark {
    background-color: #121212;
    color: white;
}