:root{
  --primary:#1E3A8A;
  --secondary:#F97316;
  --bg:#F9FAFB;
  --text:hsl(217, 19%, 27%);
  --accent:#3B82F6;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Vazirmatn', sans-serif;
}

body{
  background:var(--bg);
  color:var(--text);
  line-height:1.8;
}

.container{
  max-width:1000px;
  margin:40px auto;
  background:white;
  display:grid;
  grid-template-columns:300px 1fr;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  border-radius:15px;
  overflow:hidden;
}

/* سایدبار */
.sidebar{
  background:var(--primary);
  color:white;
  padding:30px;
  text-align:center;
}

.profile-img{
  width:140px;
  height:140px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid var(--secondary);
  margin-bottom:20px;
}

.sidebar h1{
  font-size:22px;
  margin-bottom:5px;
}

.sidebar h2{
  font-size:14px;
  font-weight:300;
  margin-bottom:25px;
  color:#ddd;
}

.sidebar h3{
  margin:20px 0 10px;
  color:var(--secondary);
  text-align:right;
}

.sidebar p{
  text-align:right;
  font-size:14px;
}

.skill{
  margin-bottom:10px;
  text-align:right;
}


/* بخش اصلی */
.main{
  padding:40px;
}

.section{
  margin-bottom:30px;
}

.section h3{
  color:var(--primary);
  margin-bottom:10px;
  border-right:4px solid var(--secondary);
  padding-right:10px;
}

.project{
  background:var(--bg);
  padding:15px;
  border-radius:10px;
  margin-bottom:10px;
  transition:0.3s;
}

.project:hover{
  transform:translateY(-5px);
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

a{
  color:var(--accent);
  text-decoration:none;
  font-weight:bold;
}

@media(max-width:768px){
  .container{
    grid-template-columns:1fr;
  }
}