.div-one{
    border: solid 1px;
    border-radius: 20px;
    border-color: rgb(156, 155, 155);
    padding: 50px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
flex: 1;
    min-width: 0;
    max-width: 900px;
    margin-right: 10px;
}



.item-1{
    display: block;
     padding-bottom: 15px ;
   padding-left: 250px;
   padding-right: 290px;
   padding-top: 15px;
   margin-left: 30px;
   margin-bottom: 10px;
   border: solid 1px rgb(156, 154, 154);
   border-radius: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
flex: 1;
max-width: 800px;
min-width: 200px;
}

.item-2{
        display: block;
   padding-left: 250px;
   padding-bottom: 15px ;
   padding-right: 300px;
   padding-top: 15px;
   margin-left: 30px;
   margin-bottom: 10px;
   border: solid 1px rgb(156, 154, 154);
   border-radius: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.item-3{
     display: block;
   padding-left: 250px;
   padding-bottom: 15px ;
   padding-right: 312px;
   padding-top: 15px;
   margin-left: 30px;
   margin-bottom: 10px;
   border: solid 1px rgb(156, 154, 154);
   border-radius: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.item-4{
     display: block;
   padding-left: 250px;
   padding-bottom: 15px ;
   padding-right: 312px;
   padding-top: 15px;
   margin-left: 30px;
   margin-bottom: 10px;
   border: solid 1px rgb(156, 154, 154);
   border-radius: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}