body{
  background-color: rgb(25, 94, 150);
}


.div-one{
    border: solid 1px;
    border-radius: 20px;
    border-color: rgb(156, 155, 155);
    padding: 50px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
    background-color: rgb(169, 182, 243);
    box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.8);
  }

.text1{
  margin-left: 140px;
}

.text{
 margin-left: 90px;
}

.item-1{
 display: block;
 margin-bottom: 15px;
 margin-left: 31px;
 border-radius: 10px;
 border: solid 1px;
 border-color: rgb(163, 163, 163);
 padding-left: 40%;
 padding-right: 37%;
 padding-bottom: 15px;
 padding-top: 15px;
 background-color: rgb(151, 177, 206);
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.item-2{
 display: block;
 margin-bottom: 15px;
 margin-left: 31px;
 border-radius: 10px;
 border: solid 1px;
 border-color: rgb(163, 163, 163);
 padding-left: 40%;
 padding-right: 39%;
 padding-bottom: 15px;
 padding-top: 15px;
 background-color: rgb(151, 177, 206);
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.item-3{
 display: block;
 margin-bottom: 15px;
 margin-left: 31px;
 border-radius: 10px;
 border: solid 1px;
 border-color: rgb(163, 163, 163);
 padding-left: 40%;
 padding-right: 41%;
 padding-bottom: 15px;
 padding-top: 15px;
 background-color: rgb(151, 177, 206);
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.item-4{
 display: block;
 margin-bottom: 15px;
 margin-left: 31px;
 border-radius: 10px;
 border: solid 1px;
 border-color: rgb(163, 163, 163);
 padding-left: 40%;
 padding-right: 41%;
 padding-bottom: 15px;
 padding-top: 15px;
 background-color: rgb(151, 177, 206);
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.item-1:hover{
  border: solid 1px;
  border-color: rgb(39, 39, 39);
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.6);
  background-color:  rgb(116, 148, 184);
  cursor: pointer;
}

.item-1:active{
  opacity: 0.8;
  transition: 0.2s;
}

.item-2:hover{
  border: solid 1px;
  border-color: rgb(39, 39, 39);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  background-color: rgb(116, 148, 184);
  cursor: pointer;
}

.item-2:active{
  opacity: 0.8;
  transition: 0.2s;
}

.item-3:hover{
  border: solid 1px;
  border-color: rgb(39, 39, 39);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  background-color: rgb(116, 148, 184);
  cursor: pointer;
}

.item-3:active{
  opacity: 0.8;
  transition: 0.2s;
}

.item-4:hover{
  border: solid 1px;
  border-color: rgb(39, 39, 39);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  background-color: rgb(116, 148, 184);
  cursor: pointer;
}

.item-4:active{
  opacity: 0.8;
  transition: 0.2s;
}
