.h1{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
display: inline-block;
    margin-right: 7px;
    margin-left: 10px;
}

.input{
padding: 15px;
padding-left: 15px;
padding-right: 300px;
border: solid 1px;
border-color: rgb(158, 158, 158);
border-radius: 30px;
background-color: rgb(219, 219, 219);
display: inline-block;
margin-left: 35px;
flex: 1;
min-width: 0;
max-width: 900px;
margin-right: 10px;
}

.add-btn{
    padding: 16px;
padding-left: 40px;
padding-right: 40px;
border-radius: 30px;
border: solid 1px;
border-color: rgb(158, 158, 158);
background-color: orangered;
color: white;
margin-left: -70px;
cursor: pointer;
margin-right: 40px;

}

.add-btn:hover{
background-color: rgb(255, 102, 0);
}

.add-btn:active{
    opacity: 0.9;
transition: 0.1s;
}

.div-tree{
  display: flex;
  gap: 0;
  align-items: center;

 
}

.div-two{
   border: solid 1px;
   border-color: rgb(150, 150, 150);
   margin-top: 15px;
   padding: 200px;
   padding-bottom: 270px;
   margin-left: 20px;
   margin-right: 20px;
   max-width: 900px;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}